[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = James Peters
	email = 124522902+jimmybombimmy@users.noreply.github.com
[core]
	editor = Visual Studio Code
